
    <ul>
        {{#each users}}
            <li>{{this.FirstName}} {{this.LastName}}</li>
            <li>{{this.Email}}</li>
            <li>{{this.Gender}}</li>
            <li>{{this.IsActive}}</li>
            <li>{{this.LastLoginDate}}</li>
        {{/each}}
    </ul>


